<style>
	.image-container {
		display: block;
		width: 100%;
		max-height: 500px;
		height: 500px;
	}

	.image-container img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.other-posts {
		display: block;
		height: 220px;
	}

	@media screen and (max-width: 768px) {
		.image-container {
			height: 300px;
		}

		.other-posts {
			height: 320px;
		}
		
	}
</style>

<div class="section pt-5 pb-0">
	<div class="container">
		<div class="row justify-content-center mb-5">
			<div class="col-lg-7 text-center">
				<h2 class="heading">Trending</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="posts-slide-wrap">
					<div class="posts-slide" id="posts-slide">
						<% let count = 0; %>
						<% articles.forEach(function(article) { %>
							<% if (count >= 4) { return; } %>
							<div class="item">
								<div class="post-entry d-lg-flex">
									<div class="me-lg-5 thumbnail mb-4 mb-lg-0" style="height: 350px;">
										<a href="/articles/<%= article.id %>">
											<img src="<%= article.image ? article.image : 'images/post_lg_2.jpg' %>"
												alt="Image" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
										</a>
									</div>

									<div class="content align-self-center" style="padding-right: 20px;">
										<div class="post-meta mb-3">
											<a href="#" class="category">Business</a>, <a href="#"
												class="category">Travel</a> &mdash;
											<span class="date">
												<%= new Date(article.createdAt).toDateString() %>
											</span>
										</div>

										<h2 class="heading">
											<a href="/articles/<%= article.id %>">
												<%= article.title.substring(0, 70) %>
											</a>
										</h2>

										<p>
											<%= article.content.substring(0, 200) %>
										</p>

										<a href="#" class="post-author d-flex align-items-center">
											<div class="author-pic">
												<img src="<%= article.author.image %>" alt="Image">
											</div>
											<div class="text">
												<strong><%= article.author.username %></strong>
												<span>Author Role</span>
											</div>
										</a>
									</div>
								</div>
							</div>
							<% count++; %>
						<% }) %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row g-5">
			<% articles.forEach(function(article) { %>
				<div class="col-lg-4">
					<div class="post-entry d-block small-post-entry-v">
						<div class="thumbnail">
							<a href="/articles/<%= article.id %>" class="other-posts">
								<img src="<%= article.image ? article.image : 'images/post_lg_2.jpg' %>" alt="Image" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
							</a>
						</div>

						<div class="content">
							<div class="post-meta mb-1">
								<a href="#" class="category">Business</a>, <a href="#" class="category">Travel</a>
								&mdash;
								<span class="date"><%= new Date(article.createdAt).toDateString() %></span>
							</div>
							<h2 class="heading mb-3"><a href="/articles/<%= article.id %>">
								<%= article.title.substring(0, 64) %>
							</a></h2>
							<p><%= article.content.substring(0, 115) %></p>
							<a href="#" class="post-author d-flex align-items-center">
								<div class="author-pic">
									<img src="<%= article.author.image %>" alt="Image">
								</div>
								<div class="text">
									<strong><%= article.author.username %></strong>
									<span>CEO and Founder</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			<% }) %>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row justify-content-center mb-5">
			<div class="col-lg-7 text-center">
				<h2 class="heading">Most Popular Posts</h2>
			</div>
		</div>
	</div>
	<div class="most-popular-slider-wrap px-3 px-md-0" style="margin-bottom: 5rem;">
		<div id="most-popular-nav">
			<span class="prev" data-controls="prev">Prev</span>
			<span class="next" data-controls="next">Next</span>
		</div>
		<div class="most-popular-slider" id="most-popular-center">
			<% articles.forEach(function(article) { %>
				<div class="item">
					<div class="post-entry d-block small-post-entry-v">
						<div class="thumbnail">
							<a href="/articles/<%= article.id %>" class="image-container">
								<img src="<%= article.image %>" alt="Image" class="img-fluid">
							</a>
						</div>
						<div class="content">
							<div class="post-meta mb-1">
								<a href="#" class="category">Business</a>, <a href="#" class="category">Travel</a>
								&mdash;
								<span class="date"><%= new Date(article.createdAt).toDateString() %></span>
							</div>
							<h2 class="heading mb-3"><a href="/articles/<%= article.id %>"><%= article.title.substring(0, 70) %></a></h2>
							<p><%= article.content.substring(0, 200) %></p>
							<a href="#" class="post-author d-flex align-items-center">
								<div class="author-pic">
									<img src="<%= article.author.image %>" alt="Image">
								</div>
								<div class="text">
									<strong><%= article.author.username %></strong>
									<span>CEO and Founder</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			<% }) %>
		</div>
	</div>
</div>